<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Details</title>
</head>
<body>

<img src="https://rising.globalvoices.org/files/2012/04/cgnet-swara.jpg"><br>

Dear Admin,<br><br>

Here are the details of the activity since last 24 hours (<b>from</b>: {{details.from}} <b>to:</b> {{details.to}})<br><br>

<strong>Total registrations:</strong> {{details.regs}}<br>
<strong>Total translations:</strong> {{details.trans}}<br>


Thank You,<br>
Team CGNet.

</body>
</html>