<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Details</title>
</head>
<body>

<img src="https://rising.globalvoices.org/files/2012/04/cgnet-swara.jpg"><br>

Dear Admin,<br><br>

Here are the details of the activity of the last day (<b>from</b>: {{details.from}} <b>to:</b> {{details.to}})<br><br>

<strong>Registrations for last day:</strong> {{details.last_regs}}<br>
<strong>Translations done last day:</strong> {{details.last_trans}}<br>
<strong>Total Registrations:</strong> {{details.total_regs}}<br>
<strong>Total Translations:</strong> {{details.total_trans}}<br>


Thank You,<br>
Team CGNet.

</body>
</html>